<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/impala"
        android:label="@string/app_name"
        android:roundIcon="@drawable/impala"
        android:supportsRtl="true"
        android:theme="@style/Theme.Basic"
        tools:targetApi="31">
        <activity
            android:name=".RuthActivity"
            android:exported="false"
            android:label="@string/title_activity_ruth"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".WanderingActivity3"
            android:exported="false"
            android:label="@string/title_activity_wandering3"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".WanderingActivity2"
            android:exported="false"
            android:label="@string/title_activity_wandering2"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".WanderingActivity1"
            android:exported="false"
            android:label="@string/title_activity_wandering1"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".WebActivity"
            android:exported="false"
            android:label="@string/title_activity_web"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".OnlineActivity"
            android:exported="false"
            android:label="@string/title_activity_online"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".ExeActivity"
            android:exported="false"
            android:label="@string/title_activity_exe"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".GridActivity"
            android:exported="false"
            android:label="@string/title_activity_grid"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".CardActivity"
            android:exported="false"
            android:label="@string/title_activity_card"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".LogActivity"
            android:exported="false"
            android:label="@string/title_activity_log"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".InputActivity2"
            android:exported="false"
            android:label="@string/title_activity_input2"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".ImageActivity"
            android:exported="false"
            android:label="@string/title_activity_image"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.Basic" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Qaqa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>